.add-product-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Yekan', serif;
}

.add-product-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="file"] {
  width: 100%;
  padding: 10px;
}

.form-group select {
  height: 60px;
}

.form-group img.current-image,
.form-group img.new-image {
  width: 200px;
  height: auto;
  object-fit: cover;
  display: block;
  margin-top: 10px;
}

.button-group {
  text-align: center;
}

.submit-btn-add-product {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn-add-product:hover {
  background-color: #0056b3;
}

/* button[type="button"] {
  margin: 5px 0;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
} */

.remove-feature{
  background-color: red;
  padding: 5px;
  font-size: small;
}