.product-panel-disply {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Yekan', serif;
  height: 100%;
}

.product-list-disply {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
}

.product-item-disply {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-item-disply:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product-image-disply {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.product-name {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-point {
  background-color: #ffde59;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9em;
  font-weight: bold;
  color: #333;
}

.product-discount {
  background-color: #ff6b6b;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
}

.product-price {
  font-size: 1.2em;
  font-weight: bold;
  color: #28a745;
  margin-bottom: 15px;
}

.button-disply {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 10px; 
  font-size: 1em; 
  cursor: pointer;
  margin-left: 20px;
  margin-right: 5px;
  transition: background-color 0.3s;
}

.button-disply2{
  background-color: green;
  margin: 5px 60px 0 0;
  padding: 10px;
  border-radius: 50px;
}

button-disply:hover {
  background-color: #0056b3;
}

