.profile-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-picture img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info {
  margin-top: 20px;
  text-align: center;
}

.profile-info h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.profile-info p {
  font-size: 16px;
  color: #666;
}

.profile-info input[type='file'] {
  margin-top: 20px;
}

.profile-info button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.profile-info button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#usename-profile{
   text-transform: uppercase;
}