.product-detail-page {
    display: flex;
    max-width: 64vw;
    width: 60vw;
    min-width: 60vw;
    margin-right: 20vw;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: 'Yekan', serif;
}

.show-product-card {
    /* background: linear-gradient(45deg, #fe41c5, #c549ac); */
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
} 

.show-product-card:hover {
    transform: translateY(-5px);
}

.show-product-name {
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: black;
}

.show-product-image {
    width: 350px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.show-product-image.enlarged {
    transform: scale(1.5);
}


.price-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.show-product-price {
    font-size: 30px;
    font-weight: bolder;
    color: black;
    margin-right: 10px;
    margin-bottom: 50px;
}

.show-product-rating .star {
    font-size: 30px;
    color: #ffd700;
}

.show-product-description {
    width: 80%;
    margin: 50px 10% 50px 0 ;
    font-size: 30px;
    color: black;
}

.product-odd-information {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 15px;
    background-color: #eaeaea;
}

.product-odd-information p{
    color:black;
    font-weight: bold;
}

.user-rating {
    margin-top: 8vw;
}

.rating-options label {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.rating-options label:hover {
    transform: scale(1.2);
}

.submit-rating {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #ff3e75;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-rating:hover {
    background-color: #ff5c8d;
}


/* Add these styles at the end of the CSS file */

.rating-options label.selected {
    background-color: #20f0ff;
}

.rating-options label {
    margin: 0 10px;
    font-size: 24px;
    color: #c3b609;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.rating-options label:hover {
    transform: scale(1.2);
}

.selected-rating {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}


.increase-cart-show-product{
    display: none;
    margin-bottom: 30px;
    cursor: pointer;
}


.add-product-to-cart{
    background-color: green;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}

.quantity-btn-cart{
    margin-left: 10px;
}

.remove-btn-cart{
    width: 200px;
    background-color: red;
}
.space-p{
    color: white;
}

.show-product-rating{
    color: darkgoldenrod;
    font-size: 60px;
}

.comment-section{
    margin-top: 10vw;
}
.textarea-comments{
    height: 15vw;
    margin-top: 5px;
    resize: none;
}

.comments-list{
    margin-top: 100px;
}

.comment-show{
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.comment-title{
    display: flex;
    margin-bottom: 30px;
}
.comment-title-char{
    border-radius: 50%;
    background-color: blueviolet;
     padding: 0 10px 10px 10px;
     font-size: 30px;
     font-weight: bolder;
     margin-left: 5px;
}

.comment-title-name{
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.comment-title-date{
   margin-right: 45%;
   margin-left: 5px;
}

.comment-text{
    text-align: right;
    margin: 0 50px 10px 40px;
    max-width: 40vw;
}


#unavailable-showproduct{
    display: none;
    color: red;
}