.product-detail-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-family: 'Yekan', serif;
}

.show-product-card {
    background: linear-gradient(45deg, #fe41c5, #c549ac);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
} 

.show-product-card:hover {
    transform: translateY(-5px);
}

.show-product-name {
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #fff;
}

.show-product-image {
    width: 350px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.show-product-image.enlarged {
    transform: scale(1.5);
}


.price-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.show-product-price {
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 50px;
}

.show-product-rating .star {
    font-size: 30px;
    color: #ffd700;
}

.show-product-description {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    margin-bottom: 50px;
}

.product-odd-information {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 15px;
    background-color: #e19fce;
    padding: 5px 0 10px 0;
}

.product-odd-information p{
    color:black;
    font-weight: bold;
}

.user-rating {
    margin-top: 30px;
}

.rating-options label {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.rating-options label:hover {
    transform: scale(1.2);
}

.submit-rating {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #ff3e75;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-rating:hover {
    background-color: #ff5c8d;
}


/* Add these styles at the end of the CSS file */

.rating-options label.selected {
    background-color: #ffd700;
}

.rating-options label {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.rating-options label:hover {
    transform: scale(1.2);
}

.selected-rating {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}


.increase-cart-show-product{
    display: none;
    margin-bottom: 30px;
    cursor: pointer;
}


.add-product-to-cart{
    background-color: green;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}